body{
  background: #f9d2d8;
}

h1{
  color : white;
}

hr{
  width="500px;" 
  color="red" 
  size="10" 
  align="center"
}

header{
  background: #f401a7;
  border: solid;
  border-radius: 6px;
}

form{
  border:double;
}


       input[type=button] ,#end {
        background-color: #62529c;
        border: none;
        color: #fff;
        padding: 15px 30px;
        text-decoration: none;
        margin: 4px 2px;
        cursor: pointer;